*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    min-height: 1300px;
    
}
.btn{
    background-color: white;
}
button{
    border: none;
}
.wrapper{
    min-height: 1000px;
    width: 80%;
    margin: auto;
    display: grid;
    row-gap: 25px;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
}
.wrapper > div{
    /* border: 1px solid black; */
}

.top-section{
    display: grid;
    grid-template-rows: 1fr 3fr;
    background-image: url(./image/bg-hero-desktop.svg);
    background-color: #EDFBFE;
    
}
.nav{
grid-template-rows: 1fr;
display: flex;
justify-content: space-between;
}
.nav button{
    height: 40px;
    width: 20%;
    border-radius: 15px;
    margin: 20px 20px;
}
.log{
    margin: 20px 20px;
}
.top{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.top button{
    margin-top: 20px;
    border-radius: 15px;
    height: 40px;
    width: 60%;
    background-color: #FE52C0;
}
.pic img{
    height: 250px;
}

.row{
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
    width: 90%;
    margin-left: 50px;
    box-shadow: 10px 10px 5px 0px rgba(136, 133, 133, 0.75);
    /* margin: auto; */
}
.row .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row .text h2{
    padding-bottom: 15px;
}
.row .pic{
    margin-top: 40px;
}




/* FOOTER */
.footer{
    position: relative;
    background-color: black;
}
.foot1{
    position: absolute;
    height: 190px;
    width: 50%;
    top: -95px;
    left: 327px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgba(233, 221, 221, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foot1 button{
    margin-top: 20px;
    border-radius: 15px;
    height: 40px;
    width: 40%;
    background-color: #FE52C0;
}
.foot2{
    display: flex;
    color: white;
    margin-top: 170px;
    
}
.one ul li{
    list-style: none;
}
.one{
   padding: 10px 20px;
   margin-left: 30px;
}
.ono{
    display: flex;
    padding-top: 10px;
}
.ono p{
    margin-left: 10px;
}
.icon{
    padding: 20px;
    
}
.icon i{
    margin-left: 10px;
}

.copy{
    color: white;
    float: right;
    margin-right: 30px;
    padding-top: 49px;
}

@media screen and (max-width: 960px){
.foot1{
    left: 169px;
}
.foot1 h1{
    font-size: 15px;
}

}
@media screen and (max-width: 450px){
.foot1{
    left: 169px;
}
.foot1 h1{
    font-size: 15px;
}
.wrapper{
    margin: 0;
}
.row{
    margin: 15px;

}
.top-section{
    padding-left: 10px;
}
}